
<section class="distinct-cities">
  <table>
  <% @orders.each do |order| %>
    <tr id= "order-<%=order.id%>">
      <td><%= link_to "order-#{order.id}", "/profile/orders/#{order.id}" %></td>
      <td>Created at: <%= order.created_at.strftime("%m-%d-%Y") %></td>
      <td>Last updated: <%= order.updated_at.strftime("%m-%d-%Y") %></td>
      <td>Status: <%= order.status %></td>
      <td>Item quantity: <%= order.quantity_of_items %></td>
      <td>Total: <%= order.grandtotal.round(2) %></td>
    </tr>
  <% end %>
  </table>
</section>
