<% if @merchant %>
  <h1><%= link_to @merchant.name, "/merchants/#{@merchant.id}"%><span> Items</span></h1>
  <p align="center"><%= link_to "Add New Item", "/merchant/items/new" %></p>
<% else %>
  <h1>Your Items</h1>
<% end %>

<section class="grid-container">
  <% @items.each do |item| %>
    <section class = "grid-item" id= 'item-<%=item.id%>'>
      <h2> <%=link_to item.name, "/items/#{item.id}" %> </h2>
      <p>Active?: <%= item.active? %> </p>
      <%= link_to image_tag("#{item.image}"), "/items/#{item.id}", id:"image-#{item.id}"%>
      <p> <%= item.description unless @merchant%> </p>
      <p>Price: <%=number_to_currency(item.price) %> </p>
      <p>Inventory: <%= item.inventory %> </p>
      <p> <%= button_to 'Deactivate', merchant_item_path(item, {change_active?: true}), method: :patch if item.active? %></p>
      <p> <%= button_to 'Activate', merchant_item_path(item, {change_active?: true}), method: :patch if !item.active? %></p>
    </section>
  <% end %>
</section>
