<!DOCTYPE html>
<html>
  <head>
    <title>Monster Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">
      <%= link_to "Welcome", "/"%>
      <%= link_to "All Merchants", "#{admin_router}/merchants"%>
      <%= link_to "All Items", "/items"%>
      <%= link_to "Cart: #{cart.total_items}", "/cart" if (current_user.nil? || !current_user.admin?) %>
      <% if current_user %>
        <%= "Logged in as #{current_user.name}" %>
        <%= link_to "Profile", "/profile" %>
        <%= link_to "Log Out", "/logout" %>
        <%= link_to "Merchant Dashboard", "/merchant" if current_user.merchant_employee? %>
        <%= link_to "Admin Dashboard", "/admin" if current_user.admin? %>
        <%= link_to "All Users", "/admin/users" if current_user.admin? %>
      <% else %>
        <%= link_to "Register", "/register" %>
        <%= link_to "Login", "/login" %>
      <% end%>
    </nav>
    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= sanitize(msg) %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
